venv/
sessions/
core/__pycache__/
codechat/tree-sitter-c
codechat/tree-sitter-swift
grammars/
tree-sitter-c
tree-sitter-swift
codechat/__pycache__
codechat/events/__pycache__
codechat/domain/__pycache__
codechat/data/__pycache__
codechat/interface/__pycache__
tests/core/__pycache__
tests/interface/__pycache__
tests/data/__pycache__
tests/domain/__pycache__
tests/events/__pycache__
dist/
codez_cli.egg-info/
vendor/
.pytest_cache/
.vscode/