venv/
build/
*.egg-info/
sessions/
__pycache__/
.pytest_cache/
.zencoder/
core/__pycache__/
node_modules/
codechat/tree-sitter-c
codechat/tree-sitter-swift
codechat/__pycache__
codechat/events/__pycache__
codechat/domain/__pycache__
codechat/data/__pycache__
codechat/interface/__pycache__
tests/core/__pycache__
tests/interface/__pycache__
tests/data/__pycache__
tests/domain/__pycache__
tests/events/__pycache__
dist/
codez_cli.egg-info/
vendor/java-tree-sitter
vendor/kotlin-tree-sitter
vendor/py-tree-sitter
vendor/tree-sitter-c
vendor/tree-sitter-go
vendor/tree-sitter-php
vendor/tree-sitter-rust
vendor/tree-sitter-swift
vendor/tree-sitter-typescript
.vscode/
